body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 2px;
  text-align: center;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15.625em;
  width: 15.625em;
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
}
 
#checkbox_yoda + label {
  background-image: url("../images/yoda.png");
}
 
#checkbox_trooper + label {
  background-image: url("../images/trooper.png");
}

#checkbox_vader + label {
  background-image: url("../images/vader.png");
}

input[type="checkbox"]:checked + label {
  border: 3px solid black;
  border-radius: 20px;
}

button {
  font-size: 1.75em;
  margin: 0 8.688em 0 6.5em;
  padding: .6875em 0;
  color: #FEDF50;
  background-color: black;
  border: none;
  position: relative;
}
 
button:after {
  content: "";
  width: 1.76em; 
  height: 1.76em;
  background-color: black;
  position: absolute;
  top: .39em;
  right: -.9em;
  transform: rotate(45deg);
}
  
button:hover {
  color: black;
  background-color: #FEDF50;
  border: none;
}
 
button:hover:after {
  background-color: #FEDF50;
}

button:focus {
  outline:0;
}

div {
  background-color: rgba(0,0,0,0.8);
  font-size: 1.115em;
  padding: .6875em 0;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 16px 16px
}